@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --Blue-400: hsl(180, 66%, 49%);
    --Purple-950: hsl(257, 27%, 26%);

    /* ### Secondary */

    --Red-400: hsl(0, 87%, 67%);

    /* ### Neutral */

    --Gray-400: hsl(0, 0%, 75%);
    --Gray-500: hsl(257, 7%, 63%);
    --Gray-900: hsl(255, 11%, 22%);
    --Gray-950: hsl(260, 8%, 14%);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}


.btn {
    cursor: pointer;
    padding: 6px 25px;
    border-radius: 20px;
    transition: .4s;
    border: none;
}

.btn:hover {
    transform: translateY(-6px);
}

.btn.btn-primary {
    background-color: var(--Blue-400);
    color: #fff;
}

section {
    min-height: 100vh;
    padding-top: 4rem;
    padding-bottom: 4rem;
}


/* START HAEDER */
#header {
    min-height: 100vh;
    position: relative;
}

#header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 80px;
}

#header nav .left-nav {
    display: flex;
    align-items: center;
}

#header nav .left-nav ul {
    display: flex;
    margin-left: 2rem;
}

#header nav .left-nav ul li a {
    color: var(--Gray-400);
    margin-left: 10px;
    margin-right: 10px;
    transform: .4s;
}

#header nav .left-nav ul li a:hover {
    color: var(--Gray-900);
    font-weight: 700;
}

#header #home {
    min-height: calc(90vh - 80px);
    display: flex;
    position: relative;
}

#header #home .container {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

#header #home .container .col-1 h1 {
    font-size: 60px;
    font-weight: 700;
}

#header #home .container .col-1 p {
    max-width: 70%;
    color: var(--Gray-400);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#header #home .container .col-1 button {
    padding: 12px 35px;
    border-radius: 25px;
}

@media (min-width:1400px) {
    #header #home .container .col-2 {
        transform: translateX(200px);
        width: 800px;
    }
}

#header #home .container .col-2 img {
    width: 100%;
}

#header .banner-home {
    position: absolute;
    border-radius: 10px;
    background-color: var(--Purple-950);
    background-image: url(/images/bg-shorten-desktop.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
}

#header .banner-home form {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    left: 50%;
}

#header .banner-home form input {
    width: 80%;
    padding: 10px 30px;
    outline: none;
}

#header .banner-home form button {
    background-color: var(--Blue-400);
    border-radius: 0px;
    border: 1px solid var(--Blue-400);
}

/* END HAEDER */

/* START SECTION ABOUT */
#about {
    background-color: var(--Gray-400);
    padding-top: 8rem;
}


#about .container .top-header {
    text-align: center;
}

#about .container .top-header h2 {
    font-size: 25px;
    font-weight: 700;
}

#about .container .top-header p {
    max-width: 40%;
    margin: .5rem auto 0;
    font-size: 16px;
    color: var(--Gray-500);
}

#about .container .container-boxes {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 1rem;

}

#about .container .container-boxes .box {
    background-color: #fff;
    padding: 4rem 2rem 2rem;
    position: relative;
    border-radius: 5px;
    position: relative;
}

#about .container .container-boxes .box:nth-child(2)::before,
#about .container .container-boxes .box:first-child:before {
    content: '';
    width: 2rem;
    height: 10px;
    background-color: var(--Blue-400);
    position: absolute;
    top: 100px;
    transform: translateY(-50%);
    right: -30px;
}

#about .container .container-boxes .box:nth-child(2) {
    transform: translateY(20px);
}


#about .container .container-boxes .box:nth-child(3) {
    transform: translateY(40px);
}

#about .container .container-boxes .box img {
    background-color: var(--Purple-950);
    padding: 20px;
    border-radius: 50%;
    position: absolute;
    top: -30px;
}

#about .container .container-boxes .box h3 {
    margin-bottom: 1rem;
}

#about .container .container-boxes .box p {
    color: var(--Gray-400);
}

/* END SECTION ABOUT */
/* START BANNER FOR LINK */
.banner-link {
    background-image: url('/images/bg-boost-desktop.svg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 250px;
    background-color: var(--Purple-950);
}

.banner-link .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.banner-link .container h2 {
    color: #fff;
    font-size: 40px;
    font-size: 800;
    margin-bottom: 10px;
}

.banner-link .container button {
    padding: 10px 35px;
    border-radius: 30px;
}

/* END BANNER FOR LINK */

/* START FOOTER */
footer {
    background-color: #000;
}

footer .container {
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

footer .logo {
    color: #ffff;
}

footer ul li:first-child {
    margin-bottom: 20px;
    cursor: pointer;
}

footer ul li {
    color: #fff;
    font-weight: 600;
}

footer ul li a {
    font-weight: 400;
    color: #b4b3b3;
    margin-bottom: 5px;
    display: block;
    transition: .4s;
}

footer ul li a:hover {
    color: var(--Blue-400);
}

footer .social-icons {
    display: flex;
}

footer .social-icons a {
    margin: 0 10px;
    cursor: pointer;
}

footer .social-icons a img {
    transition: .4s;
}

footer .social-icons a:hover img {
    filter: brightness(0) saturate(100%) invert(32%) sepia(98%) saturate(1234%) hue-rotate(190deg);
}

/* END FOOTER */